:root{
    --bg-primary: #EFEFEF;
    --bg-gradient: linear-gradient(to bottom, #006494, #1B98E0);
    --dark-blue: #13293D;
    --medium-blue: #006494;
    --light-blue: #1B98E0;
}

.container-menu{
    background: var(--bg-gradient);
}

.container-data{
    background-color: var(--bg-primary);
}

.btn-blue{
    background-color: var(--medium-blue);
    color: white;
}

.btn-blue:hover{
    background-color: var(--medium-blue);
    color: white;
    filter: brightness(.9);
}